@font-face {
	font-family: "Varela Round";
	src: url("~assets/fonts/VarelaRound-Regular.ttf");
	font-style: normal;
	font-display: swap;
}

body {
	background: linear-gradient(167deg, rgba(1,18,34,1) 0%, rgba(29,0,34,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

ion-icon {
	color: #FFF;
}

html {
	font-family: "Varela Round", sans-serif;
	color: #FFF;
	text-align: center;
}
